---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Hana Um">
	<Header slot="header" name="Hana Um" title="Software Engineer">
		<p>github</p>
		<p>linkedin</p>
	</Header>
	<main slot="body">
		<h1>Coming soon</h1>
		<ul role="list" class="link-card-grid">
			<Card href="hana_um_resume.pdf" title="Resume" />
			<Card href="https://old.hanaum.com/" title="Old site" />
		</ul>
	</main>
</Layout>
