---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import SiteLink from "../components/SiteLink.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title="Hana Um">
	<Header slot="header" name="Hana Um" title="Software Engineer">
		<SiteLink iconType="github_alt_icon.png" linkUrl="https://github.com/hanaum" altDescription="github icon"/>
		<SiteLink iconType="linkedin_social_icon.png" linkUrl="https://www.linkedin.com/in/hanaum/" altDescription="linkedin icon"/>
	</Header>
	<main slot="body">
		<h1>Coming soon</h1>
		<ul role="list" class="link-card-grid">
			<Card href="hana_um_resume.pdf" title="Resume" />
			<Card href="https://old.hanaum.com/" title="Old site" />
		</ul>
	</main>
	<AboutMe slot="aboutMe" />
</Layout>
