<div class="header-wrapper">
  <h1>About me</h1>
  <p>Grew up in Queens, NYC. Moved to the Bay Area. Now currently residing in Seattle, WA wondering where my next adventures will take me!</p>
  <p>When I'm not working on projects, you can find me restaurant hopping, playing video games, traveling, or escaping into nature.</p>
</div>
<style>
  .header-wrapper {
    background-color: tan;
    padding: 10px 20px;
  }
</style>
